/*
 * Top left
 */
.wy-side-nav-search {
    background-color: #3aafb9;
}

/*
 * Menu clicked
 */
.wy-menu-vertical a:active {
    background: #3aafb9;
}

/*
 * Links
 */
.wy-nav-content a, .wy-nav-content a:hover, .wy-nav-content a:active, .wy-nav-content a:focus, .wy-nav-content a:visited {
    color: #3aafb9;
}

.wy-nav-content a:hover, .wy-nav-content a:active {
    text-decoration: underline;
}
